<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" >

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_code" data-rule="required" class="form-control" name="row[custom_code]" type="text" value="{$row.custom_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_name" data-rule="required" class="form-control" name="row[custom_name]" type="text" value="{$row.custom_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_type" data-rule="required" class="form-control selectpage" data-source="sale/customtype/index" data-field="custom_type" data-Primary-key="custom_type" name="row[custom_type]" type="text" value="{$row.custom_type|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_tel')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_tel" class="form-control" name="row[custom_tel]" type="text" value="{$row.custom_tel|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_contact')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_contact" class="form-control" name="row[custom_contact]" type="text" value="{$row.custom_contact|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_address" class="form-control" name="row[custom_address]" type="text" value="{$row.custom_address|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_discount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_discount" data-rule="required" class="form-control" name="row[custom_discount]" type="number" value="{$row.custom_discount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payable_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payable_total" class="form-control" name="row[custom_payable_total]" type="number" value="{$row.custom_payable_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_sale_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_sale_total" class="form-control" name="row[custom_sale_total]" type="number" value="{$row.custom_sale_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_payment_total')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_payment_total" class="form-control" name="row[custom_payment_total]" type="number" value="{$row.custom_payment_total|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custom_remark" class="form-control" name="row[custom_remark]" type="text" value="{$row.custom_remark|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custom_status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="customStatusList" item="vo"}
            <label for="row[custom_status]-{$key}"><input id="row[custom_status]-{$key}" name="row[custom_status]" type="radio" value="{$key}" {in name="key" value="$row.custom_status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
