<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="" >

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Processes_code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-processes_code" data-rule="required" class="form-control" name="row[processes_code]" type="text" value="{$row.processes_code|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Processes_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-processes_name" data-rule="required" class="form-control" name="row[processes_name]" type="text" value="{$row.processes_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Processes_print')}:</label>
        <div class="col-xs-12 col-sm-8">
        
            <div class="radio">
            {foreach name="processesPrintList" item="vo"}
            <label for="row[processes_print]-{$key}"><input id="row[processes_print]-{$key}" name="row[processes_print]" type="radio" value="{$key}" {in name="key" value="$row.processes_print"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>    

        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
